#container {
  display: flex;
  width: 70%;
  height: 800px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
}

.child {
  height: 200px;
  width: 200px;
}

#child1 {
  background-color: red;
}

#child2 {
  background-color: blue;
}

#child3 {
  background-color: green;
}
